{
  "item_id": "{{ kafka_cloud_item_id }}",
  "order": {
    "attrs": {
      "topics": [
{%- for kafka_topic in kafka_cloud_topics_to_create %}
        {
          "topic_name": "{{ kafka_topic.name }}",
{% if kafka_topic.retention is defined %}
          "retention_ms": {{ kafka_topic.retention }},
{% endif %}
{% if kafka_topic.retention_bytes is defined %}
          "retention_bytes": {{ kafka_topic.retention_bytes }},
{% endif %}
          "cleanup_policy": "{{ kafka_topic.cleanup_policy|default('delete') }}",
          "_cleanup^limit_by": "{{ kafka_topic.cleanup_limit_by|default(kafka_topic.retention_bytes is defined|ternary((kafka_topic.retention is defined|ternary('time,size', 'size')), 'time'))}}",
          "partitions_number": {{ kafka_topic.partition }},
        }{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    }
  }
}