{
    "item_id": "{{ kafka_cloud_item_id }}",
    "order": {
        "attrs": {
            "acls": [
{% for kafka_acl in kafka_cloud_acls_to_create %}
                {
                    "client_cn": "{{ kafka_acl.client_cn }}",
                    "topic_type": "{{ kafka_acl.topic_type }}",
                    "client_role": "{{ kafka_acl.client_role }}",
{% if kafka_acl.topic_names is defined %}
                    "topic_names": [
{% for topic_name in kafka_acl.topic_names %}
                        "{{ topic_name }}"{% if not loop.last %},{% endif %}
{% endfor %}
                    ]
{% else %}
                    "topic_name": "{{ kafka_acl.topic_name }}"
{% endif %}
                }{% if not loop.last %},{% endif %}
{% endfor %}
            ]
        }
    }
}